In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/PAH3DEEUR_1 Min_Bid_2008.10.21_2018.10.27.csv')
data = pd.DataFrame()
data['high_low'] = df.High - df.Low
data['high_open'] = df.High - df.Open
data['high_close'] = df.High - df.Close
data['low_open'] = df.Low - df.Open
data['low_close'] = df.Low - df.Close
data['close_open'] = df.Close - df.Open
data['volume'] = df['Volume ']
data.to_csv()

            Time (UTC)    Open    High     Low   Close  Volume
0  2015.04.21 07:02:00  87.862  88.137  87.753  87.783  0.00330
1  2015.04.21 07:03:00  87.782  88.322  87.744  88.268  0.01623
2  2015.04.21 07:04:00  88.238  88.331  87.987  88.055  0.06653

In [8]:
data = pd.DataFrame()
data['high_low'] = df.High - df.Low
data['high_open'] = df.High - df.Open
data['high_close'] = df.High - df.Close
data['low_open'] = df.Low - df.Open
data['low_close'] = df.Low - df.Close
data['close_open'] = df.Close - df.Open
data['volume'] = df['Volume ']

In [18]:
data.head(3)

   high_low  high_open  high_close  low_open  low_close  close_open   volume
0     0.384      0.275       0.354    -0.109     -0.030      -0.079  0.00330
1     0.578      0.540       0.054    -0.038     -0.524       0.486  0.01623
2     0.344      0.093       0.276    -0.251     -0.068      -0.183  0.06653

In [14]:
data.to_csv('data/autoencoder_v1_PAH3DEEUR_1 Min_Bid_2008.10.21_2018.10.27', 
            header=False, index=False, )

In [17]:
df1 = pd.read_csv('data/autoencoder_v1_PAH3DEEUR_1 Min_Bid_2008.10.21_2018.10.27', header=None)
df1.head(3)

       0      1      2      3      4      5        6
0  0.384  0.275  0.354 -0.109 -0.030 -0.079  0.00330
1  0.578  0.540  0.054 -0.038 -0.524  0.486  0.01623
2  0.344  0.093  0.276 -0.251 -0.068 -0.183  0.06653